<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">GestorDeGastosBS</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

         <div class="nav-item px-3">
            <NavLink class="nav-link" href="mercancias">
                <span class="oi oi-box" aria-hidden="true"></span> Mercancias
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="proveedores">
                <span class="oi oi-book" aria-hidden="true"></span> Proveedores
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gastosmercancias">
                <span class="oi oi-dollar" aria-hidden="true"></span> Gastos Mercancias
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gastosproveedores">
                <span class="oi oi-dollar" aria-hidden="true"></span> Gastos Proveedores
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gastosmiscelaneos">
                <span class="oi oi-dollar" aria-hidden="true"></span> Gastos Miscelaneos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="nominas">
                <span class="oi oi-dollar" aria-hidden="true"></span> Nominas
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
